<div>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="idade">
    <label for="idade">Idade:</label>
    <input type="text" name="idade" [(ngModel)]="idade" />
</div>
<div id="altura">
    <label for="altura">Altura:</label>
    <input type="text" name="altura" [(ngModel)]="altura" />
</div>
<div id="cpf">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" [(ngModel)]="cpf" />
</div>
<div id="email">
    <label for="email">E-mail:</label>
    <input type="text" name="email" [(ngModel)]="email" />
</div>
<div id="botaoCadastrar">
    <button (click)="create()">Cadastrar</button>
</div>
<a routerLink="/pessoa/listar">Voltar para a lista de pessoas cadastradas</a>
